<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cpu.CpuActivity"
            android:exported="true"
            android:label="@string/cpu_page_name" />

        <activity
            android:name=".ram.RamActivity"
            android:exported="true"
            android:label="@string/ram_page_name" />

        <service
            android:name=".process.Sub1ProcessService"
            android:exported="true"
            android:process=":memory_service1" />
        <service
            android:name=".process.Sub2ProcessService"
            android:exported="true"
            android:process=":memory_service2" />
        <service
            android:name=".process.Sub3ProcessService"
            android:exported="true"
            android:process=":memory_service3" />
    </application>

</manifest>